# Copyright (c) 2026 Clove Twilight
# Licensed under the ESAL-1.3 Licence.
# See LICENCE.md in the project root for full licence information.

.env
gen-hash.py
users.json
venv/
__pycache__/
subsystems.json
member_tags.json
avatars/
dough-data/
.env.keys