# Copyright (c) 2026 Clove Twilight
# Licensed under the ESAL-1.3 Licence.
# See LICENCE.md in the project root for full licence information.

[submodule "portfolio"]
	path = co/portfolio
	url = https://github.com/doughmination/portfolio
