# Copyright (c) 2026 Clove Twilight
# Licensed under the ESAL-1.3 Licence.
# See LICENCE.md in the project root for full licence information.

# .gitignore
# Node
node_modules/
npm-debug.log*

# Python
__pycache__/
*.pyc
.env
.env.keys

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Build
/dist/
/build/

# Docker
*.pid

# Misc
*.swp
*.swo

# Coverage
coverage/

# Others
*.bak
*.tmp

dough-data/