html {
    height: 100%;
}
body {
    margin: 0;
    min-height: 100%;
    background-color: #000;
    background-image: url('https://raw.githubusercontent.com/doughmination/Doughmination/main/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    text-shadow: 1px 1px 2px #0004;
    font-size: 11pt;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main {
    text-align: center;
    max-width: 800px;
    padding: 16px;
    margin: auto;
    background-color: #0003;
    border-radius: 8px;
    box-shadow: 5px 5px 20px #0004;
    border: 1px solid #0004;
}
code {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
.command-box {
    display: block;
    background-color: #0005;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid #fff3;
    margin: 16px auto;
    font-size: 13pt;
    user-select: all;
    cursor: pointer;
}
.command-box:hover {
    background-color: #fff1;
    border-color: #fff5;
}
a {
    color: #fff;
}
a:hover,
.github-links a:hover > img {
    opacity: 80%;
}
a:active,
.github-links a:active > img {
    opacity: 70%;
}
h2 {
    margin: 16px 0 8px 0;
    font-size: 14pt;
}
hr {
    border: none;
    border-top: 1px solid #fff5;
    width: 100%;
}
.logo {
    height: 160px;
    margin: 0 0 -24px 0;
}
.github-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2em 0 16px 0;
}
.github-links a {
    display: block;
    text-decoration: none;
}
.github-links img {
    filter: drop-shadow(1px 1px 2px #0004);
    height: 64px;
}
@media (max-width: 832px) {
    main {
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
}